<div class="container">
  <header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
      <li class="nav-item"><a routerLink="/graphic" class="nav-link" aria-current="page" routerLinkActive="active">Elementy graficzne</a></li>
      <li class="nav-item"><a routerLink="/form" class="nav-link" routerLinkActive="active">Formularz</a></li>
      <li class="nav-item"><a routerLink="/list" class="nav-link" routerLinkActive="active">Lista użytkowników</a></li>
      <li class="nav-item"><a routerLink="/game" class="nav-link" routerLinkActive="active">Gra</a></li>
    </ul>
  </header>
</div>
