<!-- user-list.component.html -->
<div class="container mt-4">
  <ngb-alert *ngIf="alert" [type]="alert.type" (closed)="alert = null">
    {{ alert.message }}
  </ngb-alert>

  <div class="mb-3">
    <label for="searchInput" class="form-label">Wyszukiwarka:</label>
    <input type="text" class="form-control" id="searchInput" [(ngModel)]="searchTerm" placeholder="Wpisz frazę">
  </div>

  <table class="table">
    <thead>
    <tr>
      <th style="color: slategrey">#</th>
      <th>Imię</th>
      <th>Nazwisko</th>
      <th>Email</th>
      <th>Płeć</th>
      <th>Akcje</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of paginatedUsers; let i = index">
      <td style="color: slategrey">{{ (currentPage - 1) * pageSize + i + 1 }}</td>
      <td>{{ user.firstName }}</td>
      <td>{{ user.lastName }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.gender }}</td>
      <td>
        <button class="btn btn-primary" (click)="editUser(user)" style="margin-right: 3px">Edytuj</button>
        <button class="btn btn-danger" (click)="deleteUser(user)">Usuń</button>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="pagination-container">
    <ngb-pagination *ngIf="users && users.length > 0"
      [(page)]="currentPage"
      [pageSize]="pageSize"
      [collectionSize]="filteredUsers.length"
      [maxSize]="5"
      [rotate]="true"
      [boundaryLinks]="true"
      [ellipses]="true"
      size="sm"
      aria-label="pagination"
    ></ngb-pagination>
  </div>



  <ngb-alert *ngIf="showSuccessAlert" [dismissible]="true" (closed)="showSuccessAlert = false" type="success">
    Zaktualizowano użytkownika pomyślnie!
  </ngb-alert>

  <ngb-alert *ngIf="showErrorAlert" [dismissible]="true" (closed)="showErrorAlert = false" type="danger">
    Błąd podczas aktualizacji użytkownika.
  </ngb-alert>

  <div *ngIf="editingUser">
    <h3>Edytuj użytkownika</h3>
    <form (ngSubmit)="saveUser()">
      <div class="mb-3">
        <label for="editFirstName" class="form-label">Imię:</label>
        <input type="text" class="form-control" id="editFirstName" [(ngModel)]="editingUser.firstName" name="editFirstName" required>
      </div>
      <div class="mb-3">
        <label for="editLastName" class="form-label">Nazwisko:</label>
        <input type="text" class="form-control" id="editLastName" [(ngModel)]="editingUser.lastName" name="editLastName" required>
      </div>
      <div class="mb-3">
        <label for="editEmail" class="form-label">Email:</label>
        <input type="email" class="form-control" id="editEmail" [(ngModel)]="editingUser.email" name="editEmail" required>
      </div>
      <!-- Dodaj inne pola formularza w zależności od potrzeb -->
      <button type="submit" class="btn btn-primary" style="margin-right: 3px">Zapisz zmiany</button>
      <button type="button" class="btn btn-secondary" (click)="cancelEdit()">Anuluj</button>
    </form>
  </div>


</div>
